<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel="stylesheet" href="/stylesheets/signup.css">
		<title><%= title %></title>
	</head>
	<body>
		<div class="login">
	   			<form>
	   				<div class="inputBlock">
	   					<input type="text" name="" placeholder="username">
	   				</div>
	   				<div class="inputBlock">
		   				<input type="password" name="password" placeholder="password">
		   			</div>
	   				<div class="inputBlock">
		   				<input type="password" name="confirm" placeholder="confirm password">
		   			</div>
		   			<div class="inputBlock">
		   				<input type="email" name="email" placeholder="e-mail">
		   			</div>
		   			<div class="inputBlock">
		   				<input type="submit" name="enter" value="sign up">
		   			</div>
	   				<a href="/">observe</a>
	   			</form>
   		</div>
	</body> 
</html>